<h3>Update subject</h3>
<p>
  <a mat-button routerLink="/subjects">
    <b>Back to subjects</b>
  </a>
</p>
<form
  [formGroup]="subjectsForm"
  (ngSubmit)="onSubmit(subjectsForm.getRawValue())"
>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Subjects's ID</mat-label>
      <input type="number" matInput placeholder="Id" formControlName="id" />
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Subject's neptun</mat-label>
      <input matInput placeholder="Neptun" formControlName="neptun" />
      <mat-error *ngIf="neptun.invalid">{{
        getNeptunErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Subject's name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-error *ngIf="name.invalid">{{ getNameErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Subject's credit</mat-label>
      <input
        type="number"
        matInput
        placeholder="Credit"
        formControlName="credit"
      />
      <mat-error *ngIf="credit.invalid">{{ getNameErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Subject's department</mat-label>
      <input matInput placeholder="Department" formControlName="department" />
      <mat-error *ngIf="department.invalid">{{
        getNameErrorMessage()
      }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Subject's semester</mat-label>
      <input matInput placeholder="Semester" formControlName="semesterId" />
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    type
    [disabled]="subjectsForm.invalid"
  >
    Create
  </button>
</form>
<p>Form Status: {{ subjectsForm.status }}</p>
