<div style="margin-bottom: 10px">
  <a mat-mini-fab routerLink="/students" color="primary">
    <mat-icon>home</mat-icon>
  </a>
</div>

<mat-card *ngIf="student">
  <mat-card-header>
    <div mat-card-avatar>
      <i class="material-icons">name</i>
    </div>
    <mat-card-title>
      <b>{{ student.name }}</b>
    </mat-card-title>
  </mat-card-header>
</mat-card>

<div style="margin-bottom: 10px">
  <table
    mat-table
    [dataSource]="subjectList"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8"
  >
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Subject
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="semesters_s">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by semesters_s"
      >
        Semester
      </th>
      <td mat-cell *matCellDef="let element">{{ element.semesters_s }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
