<h3>Create new teacher</h3>
<p>
  <a mat-button routerLink="/teachers">
    <b>Back to teachers</b>
  </a>
</p>
<form [formGroup]="teachersForm" (ngSubmit)="onSubmit(teachersForm.value)">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Teacher's neptun</mat-label>
      <input matInput placeholder="Neptun" formControlName="neptun" />
      <mat-hint>Give the teacher a neptun code</mat-hint>
      <mat-error *ngIf="neptun.invalid">{{ getNameErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Teacher's name</mat-label>
      <input matInput placeholder="Name" formControlName="name" />
      <mat-hint>Give the teacher a name</mat-hint>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Teacher's email</mat-label>
      <input
        type="email"
        matInput
        placeholder="Email"
        formControlName="email"
      />
      <mat-hint>Give the teacher an email</mat-hint>
    </mat-form-field>
  </div>
  <select formControlName="position">
    <option value="Associate Professor">Associate Professor</option>
    <option value="Assistant Professor">Assistant Professor</option>
    <option value="Master Teacher">Master Teacher</option>
    <option value="Acting Expert">Acting Expert</option>
    <option value="Teaching Assistant">Teaching Assistant</option>
    <option value="Other">other</option>
  </select>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>Teacher's subjects</mat-label>
      <input matInput placeholder="Subject" formControlName="subjectId" />
      <mat-hint>Give the teacher subjects</mat-hint>
    </mat-form-field>
  </div>
  <button
    mat-raised-button
    color="primary"
    type
    [disabled]="teachersForm.invalid"
  >
    Create
  </button>
</form>
<p>Form Status: {{ teachersForm.status }}</p>
